@model IEnumerable<GR30323.Domain.Entities.Book>

<div class="container">
    <div class="row mb-3">
       
        <div class="col-2">
            <ul class="nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       data-bs-toggle="dropdown"
                       href="#"
                       role="button"
                       aria-expanded="false">
                        @ViewData["currentCategory"]
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               asp-controller="Product"
                               asp-route-category="@null">Все</a>
                        </li>
                        @foreach (var category in (IEnumerable<Category>)ViewData["categories"])
                        {
                            <li>
                                <a class="dropdown-item"
                                   asp-controller="Product"
                                   asp-route-category="@category.NormalizedName">
                                    @category.Name
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- Сетка карточек книг -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var book in Model)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="@book.Image" class="card-img-top" alt="@book.Title">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text">@book.Description</p>
                        <a asp-controller="Cart"
                           asp-action="Add"
                           asp-route-id="@book.Id"
                           asp-route-returnurl="@ViewData["returnUrl"]"
                           class="btn btn-primary">
                            Добавить в корзину
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>