@using GR30323.Domain.Entities
@model Dictionary<int, CartItem>

@if (Model.Count() == 0)
{
    <h2 class="m-2">Корзина пуста</h2>
}
else
{
    <h2 class="m-2">Ваша корзина:</h2>
    <table class="table table-striped">
        @foreach (var item in Model)
        {
            <tr>
                <td><img src="@item.Value.Item.Image" width="200" /></td>
                <td>@item.Value.Item.Title</td>
                <td>@item.Value.Item.Description</td>
                <td>@item.Value.Qty</td>
                <td>
                    <a class="btn btn-danger" asp-action="Remove" asp-controller="Cart" asp-route-id="@item.Value.Item.Id">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
    <h3>Общая сумма: @Model.Sum(item => item.Value.Item.Price * item.Value.Qty)</h3>
}